.jumbotron {
  background-color: #383d45;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: A Pompadour Sample;
}

h2 {
  color: #383d45;
  font-family: A Pompadour Sample;
  font-size: 32px;
}

h3 {
  color: #383d45;
  font-family: A Pompadour Sample;
  font-size: 24px;
}

h4 {
  color: #383d45;
  font-family: A Pompadour Sample;
  font-size: 21px;
}

button {
  background-color: #287bff;
  border: none;
  color: white;
  width: 40px;
  background-image: url(../assets/images/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

aside {
  font-family: sans-serif;
  color: #383d45;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
}
