body{
  font-family: sans-serif;
}

.header {
  background-color: #383d45;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

h1 {
  font-size: 32px;
}

h2 {
  color: #383d45;
  font-size: 32px;
}

h3 {
  color: #383d45;
  font-size: 24px;
}

h4 {
  color: #383d45;
  font-size: 21px;
}

main {
  margin-top: 30px;
  font-family: sans-serif;
}

button {
  background-color: #287bff;
  border: none;
  color: white;
  width: 40px;
  background-image: url(../assets/images/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

aside {
  color: #383d45;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  background-color: rgb(245, 245, 245);
  color: #383d45;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}